<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
	</head>
<style>  
.footer{
	background-color: darkgreen;
	color:white;
	padding-bottom:0;
}
.row{
	padding:20px;
}
.column{
	display:inline-block;
	width: 23%;
	margin-left:15;
	padding:0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
	padding:5px;
}
a:visited{
        color:white;
}
a:hover{
	color:purple;
}
.comments{
	display:inline-block;
	width:50%;


}
.icon{
	padding:15px;
	border:2px solid white;
	border-radius: 50%;
	height:70px;
}

</style>	
<body>
<footer>
	<div class="footer">
		<div class="row">
			<div class="column">
				<h2>HISTRY:</h2>
				<P>Study.com has engaging online history courses in US history, world history, western civilization, and more! Our self-paced video lessons can help you study for exams, earn college credit, or boost your performance in history classes. Choose a course and prepare to improve your knowledge!Study.com has engaging online history courses in US history, world history, western civilization, and more! Our self-paced video lessons can help you study.</P> 

			</div>
			<div class="column">
				<h2>SUBJECTS:</h2>
				<ul >
					<li><a href="#">PHYSICS</a></li>
					<li><a href="#">METHEMETICS</a></li>
					<li><a href="#">ELECTRICALS</a></li>
					<li><a href="#">COMPUTER SCIENCE</a></li>
					<li><a href="#">CHEMISTRY</a></li>
					<li><a href="#">ENGLISH</a> </a></li>
				</ul>

			</div>	
	        <div class="column">
	        	<h2>PLANS:</h2>
				<ul>
					<li><a href="#">Student Solutions</a></li>
					<li><a href="#">Teacher Solutions</a></li>
					<li><a href="#">Study.com for Schools</a></li>
					<li><a href="#">COMPUTER SCIENCE</a></li>
					<li><a href="#">Working Scholars Solutions</a></li>
					<li><a href="#">Digital learning</a> </a></li>
				</ul>
			</div>
  			<div class="column">
	        	<h2>ABOUT US:</h2>
				<ul>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Get Your School Listed</a></li>
					<li><a href="#">Teach For Us</a></li>
					<li><a href="#">Press Center</a></li>
					</ul>
		       </div>
            
			
             </div>
             <div style="text-align:center;font-size:30px;padding-top:20px;padding-bottom: 20px">
             	<a href="#" class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
             	<a class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
             	<a class="icon"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
             	<a class="icon"><i class="fa fa-youtube" aria-hidden="true"></i></a>
         </div>
         <div style="text-align: center;font-size:25; padding-top:20px;">
         <div>    	
		<a class="icon"><i class="fa fa-map-marker"></i></a>
		<p><span>21 Revolution Street</span> Delhi, India</p>
        </div>
		<div>
		<a class="icon"><i class="fa fa-phone"></i></a>
		<p>+91 7080057612</p>
		</div>
 
		<div>
		<a class="icon"><i class="fa fa-envelope"></i></a>
		<p><a href="karan1907@gmail.com">karan1907@gmail.com</a></p>
		</div>
 
		</div>
 
			 <div style="margin-left:400px;">
			 	<h2>COMMENTS:</h2>
			 	<textarea style="width:700; height:200; background-color:#f3f3f3;"name="comments" placeholder="THANKYOU FOR COMMENTS!!"></textarea>
			<div class="comment" style="margin-top: 20px;">
			<input type="text" placeholder="NAME:*" size=30; style="margin-left:60;"> 	
			<input type="text" placeholder="EMAIL:*" size=30; style="margin-left:100;">
		</div>
		<div style="margin-top: 20px; padding-bottom:10px">
			<button type="submit" style=" margin-left:240;background-color: blue;color:green;padding-top:15px;padding-right:70px;padding-bottom:15px;padding-left:70px; border:2px blue;">COMMENT</button>


		</div>
			</div>

		<div style="background-color:darkolivegreen; text-align:center;padding:10px;">contact to admin: nikhillko02@gmail.com
		</div>	

