{% extends 'nav.html' %}
{% block body %}
{% include "notify.html" %}
<title>FRAME OF REFERENCE</title>
<style>

body {
     background-image: url("/static/bg.jpg");
     background-size: 100% 100%
     }
h1 {color:rgb(180,180,180);}
h2 {color:rgb(180,180,180);}
p {color:rgb(255,255,255);
   font-family:Calibri;
   font-size:150%;
   margin:30px}
</style>
<h1><i>WHAT IS FRAME OF REFERENCE?</i></h1>
<p>Frame of reference is methemetical cartitian system which is describe the position or motion of any body are called frame of reference.<br>There are two types of frame of refence---></p>
<h2 style= "font-family:Times New Roman;"><i>INARTIAL FRAME OF REFERENCE</i></h2>
<p>Inertial frame of reference is a frame of reference which has constant velocty or zero acceleration are called inertial frame of reference.</p>
<h2 style= "font-family:Times New Roman;"><i>NON-INARTIAL FRAME OF REFERENCE</i></h2>
<P>Non inartial frame of reference ia a frame of reference which has not constant velocity or non zero acceleration are called non inartial frame of reference.</p>
<p style="color:green;"><b>for more information visit this site</b></p><a style = "border:2px solid green; padding: 20px; margin-left: 90px;" href="https://en.wikipedia.org/wiki/Frame of reference"><i> CLICK NOW</i><br></a>

<p style="border:2px green;padding-left: 50px;padding-bottom: 250px;"><img src="\static\frame.jpg" width="600" height="350"style="float:left;">
In physics, a frame of reference consists of an abstract coordinate system and the set of physical reference points that uniquely 
fix the coordinate system and standardize measurements within that frame.
</p>

<p style="border:2px green;padding-right: 100px;padding-bottom: 250px;"><img src="\static\frame1.jpg" width="600" height="350" style="float:right;text-font:200;">
Also called reference frame. Physics. a framework that is used for the observation and mathematical description of physical phenomena and the formulation of physical laws, usually
 consisting of an observer, a coordinate system, and a clock or clocks assigning times at positions with respect to the coordinate system.</p>
<p style="border:2px green;padding-right: 100px;padding-bottom: 250px;"><img src="\static\frame2.jpg" width="600" height="350"style="float:left">If we ask A what
 velocity of B is, he will say it is at rest. But if we ask the same question to C, he will say B is moving with a velocity V in the positive X direction. So we can see before specifying 
the velocity we have to specify in which frame we are or in simple terms, we need to define a frame of reference.</p>
<p style="border:2px green;padding-right: 100px;;padding-bottom: 250px;"><img src="\static\frame3.jpg" width="600" height="350"style="float:right;">In physics, a 
frame of reference, or reference frame, is a perspective that one uses to determine if an object is moving. ... For example, when you see a ball roll down a street, you can tell the ball 
is moving because the frame of reference is the streets, whatever may be on the side of the roads, or the Earth.</p>
<p style="border:2px green;padding-left: 300px;"><img src="\static\frame4.gif" width="900" height="350"></p>
{% endblock %}