<html>
<head>
	<title>home page</title>
</head>
<body>
<header>
	<link rel="stylesheet" href="\static\style.css">
	<img src="\static\learning.jpg" alt="logo" width=500 height=200>
</header>		
	<ul>
		<li><a href="#home">COURSES</a></li>
		<li><a href="#news">NEWS</a></li>
		<li><a href="#home">ABOUT</a></li>
		<li><a href="#home">GALLERY</a></li>
		<li><a href="#home">CONTACT</a></li>
	</ul>
<section>
	<h1 style="padding-left: 500px;font-style: italic;font-size:250%;">WELCOME TO MY WEBSITE:</h1>
	<h3>
</section>
		